// 必填星号
.isRequired::before {
  content: '*';
  color: red;
  margin-right: 2px;
}

// 表格标题样式
.title {
  width: 100%;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  p {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    line-height: 30px;
    text-align: left;
  }
}

// 搜索区域
// 布局公共样式
.c-container {
  margin-bottom: 30px; //总计字体加粗
  .strong span {
    font-weight: 700;
    color: #2c323e !important;
  }
  width: 100%;
  background: inherit;
  .el-button {
    height: 36px;
    padding: 0;
  }
  .c-float {
    position: relative;
    height: 60px;
    margin-bottom: 20px;
  }
  .c-right {
    position: absolute;
    right: 0;
    bottom: 10px;
    .el-button {
      color: #83909d;
    }
  } // 公共样式头部header
  .c-header {
    padding: 24px;
    background: white;
    width: 100%; // margin: 30px0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 1px 2px 0px #c4ccd6; // 展开搜索显示
    .el-collapse-item__header {
      border-bottom: 0;
      color: #19bf4f;
      font-weight: 700;
      font-family: '冬青黑体简体中文W6';
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      .el-collapse-item__arrow {
        line-height: 30px;
      }
    }
    .el-collapse {
      border-bottom: 0;
      border-top: 0;
    }
    .el-collapse-item__wrap {
      border-bottom: 0;
    } // 表单
    .el-form {
      .el-row {
        .el-form-item {
          margin: 0;
        }
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        .el-col-twoline {
          display: inline-block;
          position: relative;
        }
        .el-date-editor--daterange.el-input__inner {
          width: 100%;
        }
        .el-form-item__label {
          width: 85px;
          float: left;
          text-align: right;
        }
        .el-form-item__content {
          display: block;
          padding-left: 85px;
        }
        .el-form-item {
          white-space: nowrap;
        }
        .el-select {
          display: block;
          position: relative;
        }
        .el-form-item.c-query-select {
          white-space: nowrap;
          display: block;
          .el-input {
            width: 100%;
            .el-input__inner {
              width: 100%;
            }
          }
          .el-form-item__label .c-left {
            text-align: left;
          }
        } // 搜索重置按钮
        .c-query-input {
          display: block;
          white-space: nowrap;
          .el-button {
            width: 128px;
            padding: 0;
          }
          .el-button:nth-child(2) {
            margin-left: 20px;
          }
        } // 搜索重置按钮右浮动
        .f-right {
          float: right;
        }
        .c-query-range-date {
          white-space: nowrap;
          width: 100%;
        }
        div.el-form-item.c-query-range-date {
          margin-right: 0;
        }
      }
      .el-input-number {
        .el-input__inner {
          text-align: left;
        }
      }
    }
  }
}

// 公共样式第二个头部header
.c-header-second {
  margin-top: 30px;
  border-radius: 8px;
}

// 公共样式主体content
.c-content {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 0px #c4ccd6;
  padding: 24px;
  display: block;
  .router-link {
    height: 56px;
  }
  .el-button+.el-button {
    margin-left: 20px;
  }
  .m-left {
    margin-left: 20px;
  } // 新增供应商按钮
  .s-ll-contn-a {
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
  } // 表格内容左对齐
  .cell .el-button {
    text-align: left;
  } //分页
  .block {
    // float: right;
    margin: 24px 0px 0px 0px;
  } // 分页下面的确认按钮
  .btn {
    float: right;
    margin-top: 24px;
  } //采购详情
  .c-content-info {
    border-bottom: 4px solid #e9f0f7;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 56px;
    padding-bottom: 16px;
    position: relative;
    .c-content-left {
      position: absolute;
      display: inline-block;
      height: 56px;
      font-size: 20px;
      color: #19bf4f;
      font-weight: 700;
      border-bottom: 4px solid #19bf4f;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    .c-content-right {
      float: right;
    }
  }
  .c-content-row {
    border-bottom: 1px solid #ebeef5;
    .el-row {
      margin-top: 30px;
      margin-bottom: 30px;
      .word-break {
        word-break: break-all;
      }
      span {
        font-size: 14px;
      }
      span:first-child {
        color: #83909d;
        font-family: "青东W6";
        margin-right: 14px;
      }
      span:last-child {
        color: #2c323e;
        font-family: "微软雅黑"
      }
    }
  } // 表格中按钮的大小设置
  .el-table {
    .cell {
      .text-button-two {
        min-width: 40px;
        margin: 0 10px 0 0;
      }
      .text-button-four {
        min-width: 70px;
        margin: 0 10px 0 0;
      }
    }
  }
}

.c-button__default {
  border-color: #19bf4f;
  color: #19bf4f
}

.c-button__disable {
  border-color: #c4ccd6;
  color: #c4ccd6
}

// 字体加粗
.bigger {
  font-weight: 700;
}

// 审核通过
.ey-review-success {
  font-family: "微软雅黑regular";
  color: #19bf4f;
}

// 待审核
.ey-review-pending {
  font-family: "微软雅黑regular";
  color: #1d96ff;
}

// 不通过
.ey-review-error {
  font-family: "微软雅黑regular";
  color: #ff494a;
  button {
    color: #ff494a;
  }
}

.el-collapse-item__content {
  padding-bottom: 0;
}

// 公共打印样式
@media print {
  h1 {
    color: #000;
    background: none;
  }
  nav,
  aside,
  header {
    display: none;
  }
  .good {
    padding-left: 50%;
    padding-bottom: 10px;
    .c-content-left {
      font-size: 28px;
    }
  }
  .row {
    padding-top: 20px;
  }
  body,
  article {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .not-print {
    opacity: 0
  }
  .page-break {
    display: block;
    page-break-before: always;
  }
  @page {
    // size: A4;
    // size: landscape; //横向打印page-break-before: auto;
    margin: 2cm;
  }
  font-family: "微软雅黑regular";
  color: #ff494a;
}

// 一级标题
.ey-tittle-level1 {
  border-bottom: 4px solid #ebeef5;
  padding-bottom: 16px; // margin-top: 24px;
  font-weight: 700;
  .ey-tittle-content {
    font-size: 20px;
    color: #19bf4f;
    position: relative;
    &::after {
      content: '';
      display: inline-block;
      border-bottom: 4px solid #19bf4f;
      border-radius: 2px;
      position: absolute;
      bottom: -20px;
      left: 0px;
      height: 4px;
      width: 100%;
    }
  }
}

// 二级标题
.ey-tittle-level2 {
  font-size: 16px;
  color: #454c5a;
  line-height: 22px;
  position: relative;
  padding-left: 14px;
  margin-bottom: 24px;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    height: 18px;
    width: 4px;
    border-radius: 2px;
    background: #19bf4f;
    transform: translate(0, -50%)
  }
}

.c-attr {
  .el-transfer {
    margin-top: 30px;
    .el-transfer-panel__header {
      // background-color: #19bf4f;
      color: #fff;
    }
    .el-button {
      min-width: 0px;
    }
    button {
      min-width: 0px;
    }
  }
  .el-dialog {
    max-height: 600px;
  }
}

// loading  加载动画
.el-loading-spinner {
  transform: translateY(-50%)
}

.loading {
  //background-image: url('../image/loading.gif');
  display: inline-block;
  width: 480px;
  height: 280px;
}

// 侧边栏样式
.el-menu.el-menu-vertical-demo {
  // 选中颜色改变
  .el-menu-item.is-active {
    color: #fff !important;
    background: #19bf4f !important;
  }
  >.borderBottom.el-submenu.is-opened {
    .el-submenu__title {
      transition: border-color 0s, background-color 0s, color 0s;
      position: relative;
    } // 一级目录样式
    >.el-submenu__title:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 36px;
      top: 12px;
      left: 0;
      margin: 0;
      background: #3bc335;
    }
    >.el-menu.el-menu--inline {
      >.el-submenu.is-opened {
        .icon-lab_sec_nor {
          // 二级目录实心圆
          &::before {
            color: #19bf4f !important;
          }
        }
        >.el-menu.el-menu--inline {
          >.el-submenu.is-opened {
            .icon-lab_thi_nor {
              // 三级目录空心圆
              &::before {
                color: #19bf4f !important;
              }
            }
          }
        }
      }
    }
  }
  .el-icon-arrow-down:before {
    content: "\25B6";
  }
  .el-submenu__icon-arrow {
    display: inline-block;
    transform: scale(.7);
    -webkit-transform: scale(.7);
  }
  .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
    transform: rotate(90deg) scale(.7);
    -webkit-transform: rotate(90deg) scale(.7);
  }
  .is-opened .el-submenu__title .ui-name-icon {
    color: #19bf4f;
  } // 侧边菜单icon
  .el-submenu.is-opened {
    &>.el-submenu__title>.iconfont {
      color: #19bf4f;
    } // 会员中心
    .icon-vip_nor::before {
      content: '\e60f'
    } // 供应商管理
    .icon-com_nor::before {
      content: '\e604'
    } // 商品库
    .icon-goo_nor::before {
      content: '\e60a'
    } // 类目管理
    .icon-cla_nor::before {
      content: '\e607'
    } // 类目属性管理
    .icon-pro_nor::before {
      content: '\e60d'
    } // 采购管理
    .icon-purc_nor::before {
      content: '\e617'
    } // 台账管理
    .icon-sta_nor::before {
      content: '\e631'
    } // 系统管理
    .icon-xitongguanli::before {
      content: '\e64d';
    } // 基础数据
    .icon-jichushuju::before {
      content: '\e64b';
    } // 价格管理
    .icon-jiageguanli::before {
      content: '\e646';
    } // 库存管理
    .icon-kucunguanli::before {
      content: '\e647';
    } // 订单管理
    .icon-dingdanguanli::before {
      content: '\e644';
    }
  }
}

.login {
  .el-tabs__content {
    overflow: inherit;
  }
}

// 价格体系中表格的右箭头
.icon-right {
  .cell {
    font-family: element-icons !important;
    &::before {
      content: '\E604'
    }
  }
}

// 弹窗图标设置
.icon-success {
  color: #19BF4F;
  font-size: 48px;
}

.icon-warning,
.icon-confirm {
  color: #FFBD25;
  font-size: 48px;
}

.icon-error {
  color: #FF493A;
  font-size: 48px;
}

.icon-info {
  color: #1D96FF;
  font-size: 48px;
}

// 点击图片方法的图标大小
.el-upload-list__item-preview {
  .el-icon-zoom-in {
    font-size: 20px;
  }
}

// 设置错误提示样式
.validate-error-tip {
  font-size: 12px;
  color: #f56c6c;
  position: absolute;
  top: 80%; // left: 8px;
  // z-index: 100;
  line-height: 1;
}

.validate-error {
  border-color: #f56c6c;
}

// 权限树菜单项变色
span.tree-menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  color: #0c6;
}

.g-add-price {
  .ey-barcode.c-content.c-header {
    position: relative;
    .el-table.el-table--fit.el-table--enable-row-transition+.validate-error-tip {
      left: 130px !important;
      top: 150px !important;
      position: absolute !important;
    }
  }
  .ey-supplier {
    position: relative;
    .el-table.el-table--fit.el-table--enable-row-transition+.validate-error-tip {
      left: 130px !important;
      top: 100px !important;
      position: absolute !important;
    }
  }
  .check-size+.validate-error-tip {
    top: 115px !important;
  }
}

.g-modify-price {
  .ey-barcode.c-content.c-header {
    position: relative;
    .el-table.el-table--fit.el-table--enable-row-transition+.validate-error-tip {
      left: 130px !important;
      top: 150px !important;
      position: absolute !important;
    }
  }
  .ey-supplier {
    position: relative;
    .el-table.el-table--fit.el-table--enable-row-transition+.validate-error-tip {
      left: 130px !important;
      top: 100px !important;
      position: absolute !important;
    }
  }
  .check-size+.validate-error-tip {
    top: 85px !important;
  }
}

.g-manage {
  .el-dialog-buying {
    .el-table.ey-table-center.el-table--fit.el-table--enable-row-hover.el-table--enable-row-transition+.validate-error-tip {
      left: 35px !important;
      top: 315px !important;
    }
  }
  .el-dialog-selling {
    .el-table.ey-table-center.el-table--fit.el-table--enable-row-hover.el-table--enable-row-transition+.validate-error-tip {
      left: 35px !important;
      top: 245px !important;
    }
  }
}

.p-selling-system,
.p-purchase-system {
  .el-table.el-table--fit.el-table--enable-row-hover.el-table--enable-row-transition+.validate-error-tip {
    left: 35px !important;
    top: 180px !important;
  }
}

.role-tree {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .el-button {
    min-width: 0;
  }
}

// 按钮加号
.el-button.icon-but_add::before {
  font-size: 14px;
  margin-right: 10px;
}

// 向左箭头按钮
.el-button.icon-add::before {
  font-size: 16px;
  margin-right: 10px;
}

// 向右箭头按钮
.el-button.icon-del::before {
  font-size: 16px;
  margin-right: 10px;
}

//类目关联口座页面类目树变色
#inventory-account {
  .inventory-name {
    color: #00cc66;
  }
}

// tabs
.co-tabs-header {
  .el-tabs--card>.el-tabs__header .el-tabs__nav {
    border: 0;
    background: #e9f0f7;
  }
  .el-tabs__item {
    border: none;
    background: #e9f0f7;
    color: #83909d;
    border-radius: 8px 8px 0 0;
    height: 36px;
    text-align: center;
  }
  .el-tabs__header .el-tabs__item.is-active.is-closable {
    background: #fff;
    color: #19bf4f;
    height: 37px;
    span {
      font-size: 16px;
    }
  }
}

.color-primary {
  color: #19bf4f;
}

#co-goods-search {
  .el-form-item__content {
    padding-left: 110px !important;
  }
}

// 输入框+文字的搜索栏部分公共样式
.two-input-inline {
  display: flex;
  div {
    display: flex;
    flex: 1;
    .el-input {
      flex: 1;
    }
    .first-span {
      padding: 0 5px;
    }
    .last-span {
      padding-left: 5px;
    }
  }
}

.m-link {
  color: #19bf4f;
}

// 时间选择器
.el-time-panel {
  .el-time-panel__footer {
    .el-time-panel__btn {
      min-width: 35px;
    }
  }
}

//
.f-store-payin-compare {
  .el-dropdown {
    margin-top: 10px;
    .el-button+.el-button {
      margin-left: 0px;
    }
  }
}

// popover下的tip样式:用于商品管理的上/下架操作
.pop-tip {
  height: 40px;
  border-bottom: 1px solid #c1baba;
  margin-bottom: 10px;
  span {
    vertical-align: middle;
  }
}

// 财务奇偶行换色
// .finance-oldlace {
//   td {
//     background-color: oldlace;
//   }
// }
// 表格内允许换行
.white-space {
  .el-table {
    .cell {
      white-space: normal;
    }
    th>.cell {
      text-align: center;
    }
  }
}

.table_row_error {
  background-color: #fbdede !important;
}

// 门店区间通用样式
.store-id-class {
  width: 49%;
  float: left;
}

.store-id-punctuation {
  width: 2%;
  float: left;
  text-align: center;
}

.successDialog {
  .el-dialog--center .el-dialog__header {
    padding-top: 0;
  }
  .el-dialog--center .el-dialog__body {
    text-align: center;
    padding-bottom: 0;
    .icon {
      display: block;
      width: 60px;
      height: 60px;
      font-size: 60px;
      margin: auto;
      margin-bottom: 10px;
      color: #19bf4f;
    }
    .info {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

// 线上业务订单管理
.o-online-order-manage {
  .c-header {
    .el-form .el-form-item__label {
      width: 100px !important;
    }
  }
}

// 特殊门店售价poppover样式
.p-sku-query__popover {
  .panel-footer {
    width: 100%;
  }
}

.p-store-query__poppover {
  .panel-header {
    text-align: center;
    height: 50px;
    border-bottom: 1px solid red;
    .panel-header__p {
      font-weight: bold;
      line-height: 50px;
    }
  }
  .panel-content {
    padding: 10px 0;
    .panel-content__p {
      color: #999999;
    }
  }
  .panel-footer {
    .panel-footer__btn {
      float: right;
      min-width: 50px;
      margin-left: 10px;
    }
  }
}

// 支付通知表
.f-fund-payment-notice-form {
  .c-header {
    .el-form-item__label {
      width: 110px !important;
    }
    .el-form-item__content {
      padding-left: 110px !important;
    }
  }
}

.p-s-force-info {
  .el-date-editor.el-input {
    width: 140px;
  }
  .el-table td {
    height: 60px;
  }
}
.p-h-invoices{
  .el-checkbox__input.is-disabled + span.el-checkbox__label{
    color:red;
  }
}
